* {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 10%;
  background-image: url(img/barraca.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration-line: underline;
  text-align: center;
  color: #FFF;
}

nav li {
  padding-inline: 10px;
  float: right;
  list-style: none;
  border-right: 1px solid #c0c0c0;
}

body {
  padding: 10px;
  background-color: rgb(184, 159, 95);
  font-family: Arial, Helvetica, sans-serif;
}

.conteudo {
  margin: 10px;
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ilustra {
  width: 30%;
}

p {
  padding-bottom: 15px;
}

footer {
  position: absolute;
  text-align: center;
  font-size: small;
  width: 100%;

}
